@font-face {
    src: url('../fonts/YOzFontProNR.otf');
    font-family: 'YOzFont';
}
@font-face {
    src: url('../fonts/RiiPopkkR.otf');
    font-family: 'Rii Pop';
}

canvas.game {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

input {
    font-family: 'Rii Pop',cursive;
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}